# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_import = pd.read_csv('../WeatherPy/output_data/cities.csv')
weather_data = weather_import.set_index('City ID')
weather_data.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
City ID,,,,,,,,,
0,jamestown,1,US,1595722676,64,42.10,-79.24,75.20,8.05
1,goderich,98,CA,1595722888,60,43.75,-81.72,78.01,4.00
2,port hardy,0,CD,1595722888,41,-7.03,29.76,68.14,6.13
3,manzhouli,95,CN,1595722888,75,49.60,117.43,71.76,10.80
4,puerto ayora,0,ES,1595722889,69,36.59,-6.23,80.01,2.24

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Store latitude and longitude in locations
lat_long = weather_data[['Lat', 'Lng']]

# Fill NaN values and convert to float
humid = weather_data["Humidity"]
lat_long.head()

           Lat     Lng
City ID
0        42.10  -79.24
1        43.75  -81.72
2        -7.03   29.76
3        49.60  117.43
4        36.59   -6.23

In [5]:
# plot heat map
fig = gmaps.figure(center = (0,0),zoom_level=2)

heat_map = gmaps.heatmap_layer(lat_long, weights = humid, dissipating=False, max_intensity = 100, point_radius = 1.5)

fig.add_layer(heat_map)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# where is it nice?
nice_temps = (weather_data['Max Temp'] < 80) & (weather_data['Max Temp'] > 70)
low_windspeeds = weather_data['Wind Speed'] < 10
clear_skies = weather_data['Cloudiness'] == 0
lets_get_away = nice_temps & low_windspeeds & clear_skies

In [7]:
# Use indexing to filter weather_data
lets_get_away_df = weather_data[lets_get_away]
lets_get_away_df = lets_get_away_df.dropna()
lets_get_away_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
City ID,,,,,,,,,
84,cairns,0,AU,1595722675,57,-16.92,145.77,75.20,5.82
181,almeria,0,ES,1595722937,83,37.17,-2.33,78.80,0.25
183,gat,0,IL,1595722937,62,31.61,34.76,79.00,1.57
201,masallatah,0,LY,1595722941,55,32.62,14.00,74.03,3.06
219,tarrega,0,ES,1595722946,78,41.65,1.14,77.00,3.00
232,zhanaozen,0,KZ,1595722949,46,43.30,52.80,75.54,6.51
389,fez,0,MA,1595722935,50,34.04,-5.00,78.80,5.82
399,farah,0,AF,1595722989,27,32.50,62.50,74.12,4.59
442,alexandria,0,EG,1595722999,83,31.22,29.96,77.00,8.05
508,zhangye,0,CN,1595723016,21,38.93,100.45,73.67,1.48

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
hotel_df = lets_get_away_df.loc[:,['City','Country','Lat','Lng']]

# Add column Hotel Name
hotel_df['Hotel Name'] = ""
hotel_df

               City Country    Lat     Lng Hotel Name
City ID
84           cairns      AU -16.92  145.77
181         almeria      ES  37.17   -2.33
183             gat      IL  31.61   34.76
201      masallatah      LY  32.62   14.00
219         tarrega      ES  41.65    1.14
232       zhanaozen      KZ  43.30   52.80
389             fez      MA  34.04   -5.00
399           farah      AF  32.50   62.50
442      alexandria      EG  31.22   29.96
508         zhangye      CN  38.93  100.45

In [9]:
# params dictionary
params = {
    "radius": 5000,
    "type": "hotel",
    "keyword": "hotel",
    "key": g_key
}

# lat/lng to find hotels
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = F"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    nearby_search = requests.get(base_url, params=params)

    # json
    nearby_search = nearby_search.json()

    # try/except to skip missing data points
    try:
        hotel_df.loc[index, "Hotel Name"] = nearby_search["results"][0]["name"]
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
#hotel_df

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer ontop of heat map

add_hotels = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(add_hotels)

fig

Figure(layout=FigureLayout(height='420px'))